/**
 *  _vars.scss
 *
 *
 */

$white:    #ffffff;
$black:    #000000;

$aqua:     #90fffa;
$red:      #cc0000;
$dk-blue:  #20215c;
$gold:     #ffd700;
$pink:     #ec008c;
$salmon:   #f5ddd8;
$tan:      #e6c59d;

/*$font-family-sans: 'Miriam Libre', Helvetica, Arial, sans-serif;*/
$font-family-sans: 'Abel', Helvetica, Arial, sans-serif;