/**
 *  alt-content.scss
 *
 *
 */

@import './vars.scss';

.alt-content {
  margin-left: 20%;
  margin-right: 0;
  padding-left: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 2;
  a {
    color: $salmon;
  }
  dt {
    float: left;
    clear: left;
    margin-right: 15px;
  }
  dd {
    float: none;
  }
  dl {
    margin-top: 0;
  }
  h4 {
    margin-bottom: 0;
  }
}

