/**
 *  button.scss
 *
 *
 */

@import './vars.scss';

.button--close {
  border: solid 1px $salmon;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-family: $font-family-sans;
  background-color: transparent;
  color: $salmon;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  &:hover {
    border-color: $pink;
    color: $pink;
  }
}
.button__icon {
  margin-right: 2px;
}