/**
 *  detail.scss
 *
 *
 */

@import './vars.scss';

.detail__title {
  margin: 0 0 1.2rem 0;
  font-size: 30px;
  line-height: 1.1;
  color: $salmon;
  a {
    color: $salmon;
    &:hover {
      color: $pink;
    }
  }
}
.detail__item {
  dt {
    font-size: 0.8rem;
    color: $salmon;
    opacity: 0.5;
    text-transform: uppercase;
  }
  dd {
    margin-left: 0;
  }
}