/**
 *  index.scss
 *
 *
 */

@import './vars.scss';

html {
  width: 100%;
  height: 100%;
}
body {
  background-color: $dk-blue;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family-sans;
  color: $salmon;
}
.p--foot {
  margin-top: 2.0rem;
}
.p--smaller {
  font-size: 10px;
}
#graph_timeline {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 95%;
  height: 100%;
}
.title {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: 15px;
  padding: 0 15px 0 0;
  h1 {
    font-size: 30px;
    line-height: 1.1;
  }
}
.code--brooklyn {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: $tan;
}
.code--new-york {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 50%;
  text-transform: uppercase;
  font-size: 12px;
  color: $aqua;
}
