/**
 *  panel.scss
 *
 *
 */

@import './vars.scss';

.panel--left {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  height: auto;
  padding-top: 15px;
  a {
    color: $salmon;
    &:hover {
      color: $pink;
    }
  }
}
.panel--right {
  position: fixed;
  z-index: 2;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  width: 20%;
  min-width: 200px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  dl {
    margin-top: 0;
  }
  .panel__inner {
    height: auto;
    bottom: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
  .button--close {
    position: absolute;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 15px;
    left: 15px;
  }
}
.panel__inner {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}
.panel__bg {
  background-color: darken($dk-blue, 20);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
}
