<div class="alt-content">
  <section>
    <div class="alt-content__studios">
      {% for studio in studios %}
        <div class="alt-content__studio">
          <h4>{{ studio.studio_name }}</h4>
          <dl>
            <dt>City<dt>
            <dd>{{ studio.city }}</dd>
            <dt>Zip<dt>
            <dd>{{ studio.zip }}</dd>
            <dt>Year founded</dt>
            <dd>{{ studio.year_founded }}</dd>
            <dt>Website</dt>
            <dd><a href="{{ studio.url }}" target="_blank">{{ studio.url }}</a></dd>
            <dt>Founding staff count</dt>
            <dd>{{ studio.staff_count_founding }}</dd>
            <dt>Staff count as of 2012</dt>
            <dd>{{ studio.staff_count_current }}</dd>
          </dl>
      {% endfor %}
    </div>
  </section>
</div>
