<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="dOPh2dML9YgOuy9x3_HTCZT39RlNEOWhosO0NIG_kts" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>New York Graphic Design Studios 1954–2012</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="New York Graphic Design Studios 1954–2012" />
  <meta property="og:description" content="An interactive timeline remix of New York graphic design studios that participated in the Image of the Studio exhibit at the Cooper Union, October 2013." />
  <meta property="og:image" content="https://ny-graphic-design-studios.red-deleon.com/img/ny-graphic-design-studios-6.png" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="New York Graphic Design Studios 1954–2012">
  <meta name="twitter:creator" content="Red de Leon">
  <meta name="twitter:title" content="New York Graphic Design Studios 1954–2012">
  <meta name="twitter:description" content="An interactive timeline remix of New York graphic design studios that participated in the Image of the Studio exhibit at the Cooper Union, October 2013.">
  <meta name="twitter:image" content="https://ny-graphic-design-studios.red-deleon.com/img/ny-graphic-design-studios-6.png">
  <meta name="twitter:image:alt" content="New York Graphic Design Studios 1954–2012">

  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>
<body>
  <div id="graph_timeline"></div>
  {% include './panel-left.twig' %}
  {% include './panel-right.twig' %}
  {% include './analytics.twig' %}
  <noscript>
    {% include './alt-content.twig' with { studios: studios } %}
  </noscript>
</body>
</html>
