<div class="panel panel--right hidden" id="detail-template-wrapper">
</div>
<script type="text/template" id="detail-template">
  <div class="panel__bg"></div>
  <div class="panel__inner">
    <h4 class="detail__title">
      <a target="_blank"></a>
    </h4>
    <dl class="detail__item detail__item--year">
      <dt>Year founded</dt>
      <dd></dd>
    </dl>
    <dl class="detail__item detail__item--zip">
      <dt>ZIP</dt>
      <dd></dd>
    </dl>
    <dl class="detail__item detail__item--city">
      <dt>City</dt>
      <dd></dd>
    </dl>
    <dl class="detail__item detail__item--size-start">
      <dt>Founding size</dt>
      <dd></dd>
    </dl>
    <dl class="detail__item detail__item--size-current">
      <dt>Size as of 2012</dt>
      <dd></dd>
    </dl>
  </div>
  <button class="button button--close">
    <span class="button__icon button__icon--close">×</span>
    <span class="button__label button__label--close">Close</span>
  </button>
</script>
