<div class="panel panel--left">
  <div class="panel__bg"></div>
  <div class="panel__inner">
    <div class="status status--1"></div>
    <div class="status status--2"></div>
    <div class="status status--3"></div>
    <div class="status status--4"></div>
    <div class="status status--5"></div>
    <div class="status status--6"></div>
    <div class="status status--7"></div>
    <div class="status status--8"></div>
    <div class="code">
      <span class="code--brooklyn">Brooklyn<br>Studios </span>
      <span class="code--new-york">New York<br>Studios </span>
    </div>
  </div>
  <div class="title">
    <h1>
    New York<br>
    Graphic Design Studios<br>
    1954–2012
    </h1>
    <p>A remix of the When/Where interactive timeline originally developed for <a href="http://imageofthestudio.com/explore/when-where" target="_blank">imageofthestudio.com</a></p>
    <p class="p--foot p--smaller">
      Engine: <a href="https://github.com/vasturiano/3d-force-graph" target="_blank">3d-force-graph</a>, <a href="https://threejs.org" target="_blank">ThreeJS</a>, <a href="https://d3js.org" target="_blank">D3</a>
    </p>
  </div>
</div>